---
import NewsCard from '@/components/home/NewsCard.astro';
import type { NewsPost } from '@/types/homepage';

interface Props {
  posts: NewsPost[];
}

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {posts.map(post => (
    <NewsCard {...post} />
  ))}
</div>
